.nav-bar{
    background-color: #343333;
    padding: 20px;
    margin: 0;
    display: inline-block;
}
.nav-item{
    color: white;
    text-decoration: none;
}
.nav-divider{
    color: #dad6d6;
    margin: 0 5px 0 5px;
}