.all-con{
    display: grid;
    grid-template-columns: 30% 40%;
}
.form-con > div{
    border: 2px solid;
    margin-bottom: 2px;
    padding: 10px 20px 20px 20px;
}
.par-list{
    border: 2px solid;
    margin: 0 20px 0 20px;
    padding: 5px;
    height: 500px;
    overflow-y: scroll;
}
.par-con{
    padding: 5px 5px 5px 15px;
    background-color: #e7e7e7;
    border-radius: 3px;
    margin-bottom: 3px;
    cursor: pointer;
}
.par-con > p{
    cursor: pointer;
    margin: 0 0 2px 0;
}
.create-con{
    position: absolute;
    left: 50px;
    top: 170px;
    z-index: 1;
    background-color: white;
    border: 3px solid;
    border-radius: 5px;
    padding: 30px;
}
.red{
    color: red;
}
.green{
    color: #7fb32b;
}
.selected{
    background-color: cadetblue;
}