.all-con{
    display: grid;
    grid-template-columns: 30% 40%;
}
.form-con > div{
    border: 2px solid;
    margin-bottom: 2px;
    padding: 10px 20px 20px 20px;
}
.par-list{
    border: 2px solid;
    margin: 20px;
    padding: 5px;
}
.par-con{
    padding: 5px;
    background-color: #b4b4b4;
    border-radius: 1px;
    margin-bottom: 3px;
}