<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kommuner</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/commune.css">
</head>
<body>
<div class="nav-bar">
    <a class="nav-item" href="/">Forside</a><span class="nav-divider">  |  </span>
    <a class="nav-item" href="/sogne">Sogne</a><span class="nav-divider">  |  </span>
    <a class="nav-item" href="/kommuner">Kommuner</a>
</div>

<h1>Kommuner</h1>

<div class="com-con commune-container"></div>

<script src="/js/commune.js"></script>
</body>
</html>