<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
<div class="nav-bar">
    <a class="nav-item" href="/">Forside</a><span class="nav-divider">  |  </span>
    <a class="nav-item" href="/sogne">Sogne</a><span class="nav-divider">  |  </span>
    <a class="nav-item" href="/kommuner">Kommuner</a>
</div>
<h1>Forside</h1>

<h2>Hej og velkommen til Johns 24 timers eksamensprojekt</h2>

</body>
</html>